<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leftover Love</title>
    <link rel="stylesheet" href="/public/normalize.css">
    <link rel="stylesheet" href="/public/styles.css">
</head>
<body>
    <header>
        <pre id="brown-line">
        </pre>
        <nav id="nav">
            <a href="index.ejs"><img id="logo" src="/public/images/leftoverlove-logo.PNG" alt="leftover love logo"></a>
            <span id="links">
                <a href="index.ejs">Home</a>
                <a href="search.ejs">Search</a>
                <a href="category.ejs">Categories</a>
            </span>
        </nav>
        <div id="parallax">
            <pre>












            </pre>
        </div>
        <pre id="parallax-text">Welcome to Leftover Love. 
Turning your scraps into snacks!</pre>
    </header>
</body>
</html>